<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iTravel</title>
  </head>
  <body>
    <h1>iTravel</h1>

    <% travel.forEach((travel) => { %>
     <h2><%= travel.title %></h2>
     <p>
       <%= travel.description %>
     </p>
    <% }) %>
  </body>
</html>
